.top
{
    width: 100vmax;
    
    background-color:rgba(77, 126, 255, 1);
    background-size: cover;
    color: black;
    
}
.top form
{
    margin-right: auto;
    margin-left: auto;
}
.top_nav
{
    width:100vw;
    height: 100px; ;
    background: rgba(76, 26, 27, 1);
    
   
}
.top_nav img
{
    height: 100px;
    float: left;
}
.top_nav ul
{
    width: 1000px;
    height: 100px;
    float: left;
    padding: left 20px;
    margin: 0px;
    background-color: rgba(76, 26, 27, 1);
}
.top_nav ul li
{
    width: 200px;
    height: 100px;
    line-height: 100px;
    float:left ;
    font-size: 24px;
    color: white;
    list-style: none;
    text-align: center;
    margin-left: 50px;
    
}
.top_nav ul li:hover
{
    text-shadow: 0px 0px 5px gold;
}

.bottom
{
    background-color: rgba(76, 26, 27, 1);
    color: white;
}
.bottom div img
{
    height: 100px;
}
.bottom dl
{
    width: 500px;
}
.copyright
{
    text-align: center;
    background-color: rgba(100, 26, 27, 1);
    color: white;
}